/*
Client: NTUC Income
Developed by: Convertium Pte Ltd
Print.css
======================================================================*/
html, body, p {font-size: 12px; line-height: 18px;}
h1, .page-title h1 {font-size: 24px;}
h2 {font-size: 22px;}
h3 {font-size: 20px; line-height: 24px; margin: 0;}
h4 {font-size: 18px; line-height: 22px;}
.intro {font-size: 16px; line-height: 20px;}
.contact-num {font-size: 18px;}
.print-logo img {display: block; padding-bottom: 3px;}

.iealert,
.navbar,
.page-title-header-tablet,
.header-bg img,
.breadcrumb-container,
.sticky-wrapper,
.social-facebook,
.social-twitter,
.social-gplus,
.social-email,
.right-top-shadow,
.right-content,
.right-btm-shadow,
.bottom-page-collaterals,
.footer,
.copyright-container,
.mobile-slider,
.faq-block,
.download-form,
.page-intro.intro-right-section,
.form-group,
.panel-header img,
.panel-testimonials,
picture {display: none!important;}

a[href]:after {content: none;}
.link-external, 
.link-pdf, 
.arrow-link, 
.expandcollapse, 
.back-link, 
.toggle-link-down, 
.toggle-link-up, 
.page-print,
.btn-primary-large, 
.btn-primary,
.btn-secondary,
.promo-options li a img {display: none;}

.header-pattern {background: none;}
.header-bg {display:  block; position: relative!important;}
.page-title-wrapper {display: block; position: relative!important; height: auto; top: auto; padding-bottom: 10px;}
.page-title {margin: 0px!important;}
.page-intro {padding-top: 0px; padding-bottom: 20px;}

.module-wrapper {padding-bottom: 19px; padding-top: 20px;}
.module-wrapper.first {padding-bottom: 0px; padding-top: 0px;}
.module-wrapper.first .row .col-sm-12 .boxed-highlight {margin-top: 30px;}

pre,
blockquote {border: 0 none; padding: 0px; margin: 0px;}
blockquote:before {content: "";}
blockquote:after {content: "";}
blockquote span p:before {content: "\201C";}
blockquote span p:after {content: "\201D";}

.category-links {height: auto!important;}

.collapse,
.panel-collapse.collapse,
.panel-left,
.toggle-content {display: block!important;}

.default-accordion .panel.panel-default .panel-title a span.glyphicon {display: none;}
.accordion-label {padding-left: 0px;} 
.default-accordion .panel.panel-default .panel-body {padding: 20px 0px;}

.career-quote-img {width: auto; margin-bottom: 10px!important;}
.career-quote-content blockquote {border: 0 none; padding: 0px; margin: 0px;}
.career-quote-content blockquote:before {content: "";}
.career-quote-content blockquote:after {content: "";}
.career-quote-content blockquote span p:before {content: "\201C";}
.career-quote-content blockquote span p:after {content: "\201D";}

.faq-accordion .panel.panel-default .panel-title a span.glyphicon-chevron-up, .faq-accordion .panel.panel-default .panel-title a span.glyphicon-chevron-down {display: none;}
.faq-accordion .accordion-label {margin-left: 0px; font-weight: bold;}
.faq-accordion .panel.panel-default .panel-body {margin: 0px!important; padding: 10px 0 0px!important;}

.panel-right {border-left: 0 none; padding-left: 0px;}

.responsive-tabs .panel.panel-default .panel-title a span.glyphicon-chevron-up,
.responsive-tabs .panel.panel-default .panel-title a span.glyphicon-chevron-down {display: none;}
.tab-content > .tab-pane {display: block!important;}
.responsive-tabs {display: none!important;}

.nav.nav-tabs {display: block!important;}
.nav-tabs > li > a {padding: 0!important;}
.nav-tabs > li {float: none; display: block; width: 100%;}
.nav-tabs > li > a span.glyphicon, .nav-tabs > li.active > a span.glyphicon {display: none!important;}
.tab-content {display: block!important;}
.tab-content > .tab-pane {display: block!important;}
.tab-body {padding: 20px 0px;}
.nav-tabs.big-tabs > li {width: 100%; height: auto;}
.nav-tabs.big-tabs > li > a {padding: 0!important; height: auto!important;}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus,
.nav-tabs.big-tabs > li.active > a, 
.nav-tabs.big-tabs > li.active > a:hover, 
.nav-tabs.big-tabs > li.active > a:focus {border-top: 0 none;}

.promo-options li {display: block; float: none; border-right: 0 none; padding-left: 0px; padding-right: 0 none; height: auto;}
ul.styled, ul.styled ul {list-style-type: disc; margin-left: 20px;}
ul.styled li {background: none; padding-left: 0px;}

.panel-header,
.insurance-details,
.panel-body {height: auto!important;}

.panel-body {padding: 0p!importantx}
.panel-header {padding: 20px 0px;}

.panel.insurance-box, 
.panel.panel-block, 
.panel.panel-widget, 
.plain-panel {border-top: 0 none;}

.claim-steps {color: #000; font-size: 20px; background: none; width: auto; height: auto; display: block; text-align: left; border-radius: 0px; padding: 0px;}

.contact-num {display: block; padding-top: 10px;}

ul.faq-topics ul ul {list-style-type: square;}

.section1, .section2, .section3, .section4 {position: relative; display: block;}