
/*
Client: NTUC Income
Developed by: Convertium Pte Ltd
======================================================================
[-] Layout
[-] Header
[-] Content
[-] Homepage
[-] Page Styling
[-] Footer
[-] Bootstrap Override
[-] Animation
[-] Animation Keyframes
[-] Media Queries
======================================================================*/
/* Layout
======================================================================*/
/* html { max-width: 1200px; margin: 0 auto; background: url(../images/subtle_dots.png) 0 0 repeat; border-left: 1px solid #ccc; border-right: 1px solid #ccc; width: 100%; } */
html { height: 100%; width: 100%; overflow-x: hidden; }
.wrapper { overflow: hidden; }
.dropdown.yamm-fw { display: inline-block; }
.fa.fa-1 { font-size: 30px; vertical-align: middle; top: 25%; position: absolute; }
.carousel-control .fa { font-size: 120px; vertical-align: middle; color: #504135; }
.carousel-control.left { background-image: none; }
.carousel-control.right { background-image: none; }
.col-centered { float: none; margin: 0 auto; }

.findoutmore { position: relative; }
.findoutmore::after { content: ''; top: 100%; height: 2px; width: 50%; left: 25%; position: absolute; background-color: rgba(134, 104, 66, .5); transition: .2s ease-in all; }
.findoutmore:hover { border: 0; }
.findoutmore:hover::after { width: 100%; left: 0; background-color: rgba(134, 104, 66,.8); transition: .8s ease all; }

/* Header
======================================================================*/
.solitaire-pattern { background: url(../images/subtle_dots.png) 0 0 repeat; width: 100%; border-bottom: 1px solid #ccc}
.solitaire-wrapper { position: relative; background-size: cover; z-index: 1; background-repeat: no-repeat;}
.solitaire-inner { position: relative;/* padding-bottom: 34.56%; */z-index: 1; max-width: 1280px; margin: auto; height: auto; }
.header-wrapper { padding-top: 40px; position: absolute; width: 100%; z-index: 9999; }
.header-logo { display: inline-block; position: relative; z-index: 999; }
.logo-text { vertical-align: bottom; display: inline-block; text-transform: uppercase; color: #4e4e4e; z-index: 999; position: relative; font-family: 'Muli', sans-serif; font-weight: 600; margin-left: 20px; padding-left: 20px; border-left: 1px solid #ccc; }
.logo-text span { font-size: 10px; letter-spacing: 2px; opacity: .6; }
.main-nav-wrapper { margin-top: 0; z-index: 999; position: relative; }
.navbar-nav.main-nav > li.open:hover > a, .navbar-nav.main-nav > li.open > a {border-top: 0; margin-top: 0;-webkit-box-shadow: inset 0px 4px 0px 0px #be9820;-moz-box-shadow:  inset 0px 4px 0px 0px #be9820;box-shadow:  inset 0px 4px 0px 0px #be9820;}
.main-nav .dropdown.open .dropdown-menu { border-top: 3px solid #be9820; border-bottom: 3px solid #be9820; top: 57px; }
.navbar-nav.main-nav>li:hover>a { background: #fff; }
.mega-menu-content h4 { margin-top: 0; }
.yamm .yamm-content { padding: 20px 30px !important; }
.main-nav-container ul li a { text-transform: uppercase; }
.solitaire-inner .solitaire-overlay {
  width: 100%;
  height: 100px;
  bottom: 0;
  background-color: #fffaec;
  position: absolute;
  z-index: 2;
  opacity: .8;
  background: rgb(255,250,236);
  background: -moz-linear-gradient(-45deg, rgba(255,250,236,1) 0%, rgba(255,250,236,1) 0%, rgba(255,250,236,1) 0%, rgba(188,166,98,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255,250,236,1) 0%,rgba(255,250,236,1) 0%,rgba(255,250,236,1) 0%,rgba(188,166,98,1) 100%);
  background: linear-gradient(135deg, rgba(255,250,236,1) 0%,rgba(255,250,236,1) 0%,rgba(255,250,236,1) 0%,rgba(188,166,98,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffaec', endColorstr='#bca662',GradientType=1 );
}
.solitaire-inner .solitaire-overlay .solitaire-overlay-inner { position: relative; top: 50%; transform: translateY(-50%); }

/* Content
======================================================================*/

/* Background */
.solitaire-bg { margin: auto; overflow: hidden; position: absolute; width: 100%; height: 100%; left: 0; }
.priviledge-banner-bg {margin: auto; overflow: hidden; position: relative; width: 100%; height: 100%; left: 0;}

/* Series landing */
.series-wrapper { position: relative; padding-bottom: calc(330 / 1280 * 100%); }
.series-container { position: absolute; width: 100%; height: 100%; display: flex; }
.series-container .container { margin: auto; }
.series-title { padding-bottom: 40px; text-align: center; }
.series-items-wrapper { text-align: center; }
.series-items-wrapper .series-items { width: 33%; display: inline-block; border-right: 1px solid #d6d6d6; padding: 0 10px; vertical-align: top; }
.series-items-wrapper .series-items img { margin-bottom: 10px; }
.series-items-wrapper .series-items:last-child { border-right: 0; }
.series-items-wrapper .series-items p { color: #866842; }

/* Privileges landing */
.privileges-wrapper { position: relative; padding-bottom: calc(422 / 1280 * 100%); }
.privileges-container { position: absolute; width: 100%; height: 100%; display: flex; }
.privileges-container .container { margin: auto; }
.privileges-box { padding: 50px; opacity: 0.8; width: 50%; text-align: left; float: right; z-index: 9999; padding: 25px;}
.privileges-box p { padding-bottom: 20px; margin-bottom: 20px; }
.privileges-box a { text-transform: uppercase; color: #866842; border-bottom: 0; }

/* Premier landing */
.premier-wrapper { position: relative; padding-bottom: calc(330 / 1280 * 100%); }
.premier-wrapper .carousel-control { width: 0; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); }
.premier-container { position: relative; }
.premier-container .container { margin: auto; }
.premier-container h2 { text-align: center; margin-bottom: 30px; }
.carousel a { border-bottom: 0; }
.premier-tile { background: #fff; font-size: 0; margin: 5px; width: 100%; height: 100%; box-shadow: 0px -2px 5px rgba(0,0,0,.4); -webkit-box-shadow: 0px -2px  5px rgba(0,0,0,.4); -moz-transition: all 500ms ease-in-out; -webkit-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; transition: all 500ms ease-in-out; }
.premier-tile:hover { box-shadow: 0px -2px 20px rgba(190,152,32,.7); -webkit-box-shadow: 0px -2px  20px rgba(190,152,32,.7); transform: scale(1.02); }
.premier-tile a:hover { border: 0; color: #7a5d00; }
.premier-tile div { display: inline-block; }
.premier-tile .premier-img { width: 45%; }
.premier-tile .premier-img img { width: 100%; height: 100%; }
.premier-tile .premier-text { font-size: 14px; padding: 20px;  width: 55%; vertical-align: top; }
.premier-tile .premier-text p { line-height: 20px; font-size: 14px; }
.premier-tile .premier-text .gold { color: #7a5d00; }
.premier-tile .premier-text .title { text-transform: uppercase; font-size: 20px; font-weight: 600; }
.premier-wrapper .carousel-indicators { position: relative; margin: 0; width: 100%; bottom: 0; left: 0; width: 100%; margin-top: 20px; display: none; }
.premier-item {padding: 0 10px;}


/* Contact landing */
.contact-wrapper { position: relative; width: 100%; }
.contact-container { padding: 60px 40px; text-align: center; background-color: #efefef; }
.contact-container h2 { margin-bottom: 30px; }
.contact-container h3 { font-size: 24px; font-weight: 500; }
.contact-container .gold { text-transform: uppercase; }
.contact-container .callUS { font-weight: 600; font-size: 26px; color: #be9820; }
.contact-container .callUS:hover { color: #9b790f; }
.contact-wrapper a { font-size: 14px; color: #be9820; }

/* Privileges Inner */
.privileges-inner { position: relative; width: 100%; height: 100%; background: url('../images/page_bgs/withSolitaire-bg.jpg') no-repeat center center; background-size: cover; padding: 60px 0; }
.privileges-inner .container { position: relative; }
.privileges-inner .title-section { text-align: center; }
.privileges-inner p { text-align: center; }
.privileges-inner .carousel { margin-bottom: 30px; }
.privileges-inner .carousel-control { background-image: none; height: 0%; width: auto; top: 50%; }
.privileges-inner .carousel-control:hover { border: 0; }
.privileges-inner .carousel-control .fa { position: relative; top: 50%; transform: translateY(-50%); }
.privileges-inner .carousel-control .fa:hover { color: #be9820; }
.privileges-inner img { margin-bottom: 15px; }
.privileges-inner .treats-text { font-weight: 600; text-align: left; margin-bottom: 5px; text-transform: uppercase; }
.privileges-inner a { color: #be9820; text-transform: uppercase; line-height: 30px;}
.privileges-inner a:hover { color: #9b790f; border-bottom: 1px solid #9b790f; }

/* Priviledges Treat */
.priviledges-treat .treat-item { padding: 0 10px; }
.priviledges-treat .treat-item img { width:   100%; }

/* Premier Item */
.premier-item-wrapper {padding: 55px 0 70px;}

/* Carousel */
.carousel-inner.three-column .wrapper-hover img{ margin: 5px; -moz-transition: all 500ms ease-in-out; -webkit-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; transition: all 500ms ease-in-out; }
.carousel-inner.three-column .wrapper-hover.hover img { box-shadow: 0px -2px 20px rgba(190,152,32,.7); -webkit-box-shadow: 0px -2px 20px rgba(190,152,32,.7); transform: scale(1.02); }
.panel.panel-default .panel-title a .fa-plus { color: #e8c954; font-size: 16px; top: 0; display: inline-block; line-height: inherit; }
.panel.panel-default .panel-title a { color: #e8c954; display: block; }
.panel.panel-default .panel-title a:hover { border: 0; }
.panel-default > .panel-heading { border: 1px solid #e8c954; background: #fff; }
.panel-default > .panel-heading + .panel-collapse > .panel-body { border: 1px solid #e8c954; padding: 25px 50px; }
.panel-group .panel { margin-bottom: 10px; }

/* Events  */
.events-inner { padding: 30px; background-color: #fff; }
.events-inner .col-sm-4 { margin: 0; padding: 0; }

/* Homepage
======================================================================*/
.solitaire-header { margin: 150px 0 0 0; border: 0; position: absolute; z-index: 900; }
.title-section { color: #504135; font-family: 'Muli', sans-serif; line-height: 40px; margin-bottom: 0; text-transform: uppercase; }
.landing-text { padding: 30px 0; margin: 0; }
.landing-btn { text-transform: uppercase; color: #be9820; background-color: transparent; transition: all 0.7s ease-out; position: relative; border: 1px solid #bcaa6f; }
.landing-btn:active { color: #fff; }
.landing-btn:hover, .landing-btn:focus { color: #be9820; background: transparent; border: 1px solid #be9820; }
.solitaire-headerMobile { display: none; }
.landing-btn .shift { -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1); transition: all 1.1s cubic-bezier(0.19,1,.22,1); }
.landing-btn:hover .shift { padding-left: 10px; animation: arrowRight 1s infinite ease-in-out; display: inline-block; }
.navbar-nav.main-nav > li:hover > a, .navbar-nav.main-nav > li:focus > a { color: #be9820; }
.shinyGold { position: absolute; opacity: 0; top: 0; left: 0; /*   gradient   */
    background: -moz-linear-gradient(left,  rgba(188,166,98,0) 0%, rgba(188,166,98,0.03) 1%, rgba(188,166,98,0.6) 30%, rgba(188,166,98,0.85) 50%, rgba(188,166,98,0.85) 70%, rgba(188,166,98,0.85) 71%, rgba(188,166,98,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(188,166,98,0)), color-stop(1%,rgba(188,166,98,0.03)), color-stop(30%,rgba(188,166,98,0.85)), color-stop(50%,rgba(188,166,98,0.85)), color-stop(70%,rgba(255,255,255,0.85)), color-stop(71%,rgba(255,255,255,0.85)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(188,166,98,0) 0%,rgba(188,166,98,0.03) 1%,rgba(188,166,98,0.6) 30%,rgba(188,166,98,0.85) 50%,rgba(188,166,98,0.85) 70%,rgba(188,166,98,0.85) 71%,rgba(188,166,98,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(188,166,98,0) 0%,rgba(188,166,98,0.03) 1%,rgba(188,166,98,0.6) 30%,rgba(188,166,98,0.85) 50%,rgba(188,166,98188,166,98,0.85) 70%,rgba(188,166,98,0.85) 71%,rgba(188,166,98,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(188,166,98,0) 0%,rgba(188,166,98,0.03) 1%,rgba(188,166,98,0.6) 30%,rgba(188,166,98,0.85) 50%,rgba(188,166,98,0.85) 70%,rgba(188,166,98188,166,98,0.85) 71%,rgba(188,166,98,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(188,166,98,0) 0%,rgba(188,166,98,0.03) 1%,rgba(188,166,98,0.6) 30%,rgba(188,166,98,0.85) 50%,rgba(188,166,98,0.85) 70%,rgba(188,166,98,0.85) 71%,rgba(188,166,98,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    width: 15%;
    height: 100%;
    transform: skew(-10deg,0deg);
    -webkit-transform: skew(-10deg,0deg);
    -moz-transform: skew(-10deg,0deg);
    -ms-transform: skew(-10deg,0deg);
    -o-transform: skew(-10deg,0deg);
    animation: moveShiny 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation: moveShiny 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 1s;
    -moz-transform: skew(-10deg,0deg);
    -moz-animation: moveShiny 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-delay: 1s;
    -ms-transform: skew(-10deg,0deg);
    -ms-animation: moveShiny 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-delay: 1s;
    -o-transform: skew(-10deg,0deg);
    -o-animation: moveShiny 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-delay: 1s;
  }

/* Page Styling
======================================================================*/
h1 { font-size: 36px; }
h2 { font-size: 28px; }
p { font-size: 14px; }
a { border: 0; color: #000; }
a:hover { color: #9b790f; border-bottom: 1px solid #9b790f; }
.mega-menu-content li a:hover { border-bottom: 0; color: #be9820; }
.ribbon-wrapper {position: absolute; width:  50px; height: 49px; background-image: url(../images/ribbon.png);top: 0; left: 0; background-size: contain;}


/* Footer
======================================================================*/
.footer { padding: 10px 0; text-align: center; background-color: #504135; color: #000; }
.footer .copyrights { color: #9c948d; float: right; }
.footer .backtoincome { float: left; }
.footer .backtoincome a { color: #fff; }
.footer .backtoincome a:hover { color: #be9820; }

/* Bootstrap Override
======================================================================*/

/* Slick Override
======================================================================*/

.slick-prev,
.slick-next {
  display: block;
  width: 37px;
  height: 71px;
}
.slick-prev {
  left: -37px;
}
.slick-next {
  right: -45px;
}
.slick-prev:before,
.slick-next:before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  opacity: 1;
  position: absolute;
  background-size: cover;
}
.slick-prev:before{
  background-image: url(../images/carousel-prev.png);
}
.slick-next:before {
  background-image: url(../images/carousel-next.png);
}

/* Animation
======================================================================*/
.animation-element { opacity: 0; }
.animation-element.in-view { opacity: 1; -moz-transition: all 700ms ease-in-out; -webkit-transition: all 700ms ease-in-out; -o-transition: all 700ms ease-in-out; transition: all 700ms ease-in-out; }
.animation-element.fade-down { -moz-transform: translate(0px, -10px); -webkit-transform: translate(0px, -10px); -o-transform: translate(0px, -10px); -ms-transform: translate(0px, -10px); transform: translate(0px, -25px); }
.animation-element.fade-down.in-view { -moz-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); -o-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate(0px, 0px); }
.solitaire-wrapper.animation-element {background-position: 0 -50px;  -moz-transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out;}
.solitaire-wrapper.animation-element.in-view {background-position: 0 0;}
.priviledge-banner-bg.animation-element,.solitaire-bg.animation-element { -moz-transform: translate(0px, -50px); -webkit-transform: translate(0px, -50px); -o-transform: translate(0px, 50px); -ms-transform: translate(0px, -50px); transform: translate(0px, -50px); }
.priviledge-banner-bg.animation-element.in-view,.solitaire-bg.animation-element.in-view { -moz-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); -o-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate(0px, 0px); -moz-transition: all 1000ms ease-in-out; -webkit-transition: all 1000ms ease-in-out; -o-transition: all 1000ms ease-in-out; transition: all 1000ms ease-in-out; }
.series-items-wrapper .series-items.animation-element.in-view:nth-child(1) { transition-delay: 300ms; }
.series-items-wrapper .series-items.animation-element.in-view:nth-child(2) { transition-delay: 500ms; }
.series-items-wrapper .series-items.animation-element.in-view:nth-child(3) { transition-delay: 700ms; }
.logo-wrapper.animation-element { -moz-transform: translate(0px, -10px); -webkit-transform: translate(0px, -10px); -o-transform: translate(0px, -10px); -ms-transform: translate(0px, -10px); transform: translate(0px, -10px); transition-delay: 200ms; }
.logo-wrapper.animation-element.in-view { -moz-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); -o-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate(0px, 0px); }
.main-nav.animation-element { -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0); -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0); box-shadow: 0 0 0 0 rgba(0,0,0,0); }
.main-nav.animation-element.in-view { -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.11); -moz-box-shadow: 0 2px 0 0 rgba(0,0,0,0.11); box-shadow: 0 2px 0 0 rgba(0,0,0,0.11); }
.main-nav li.animation-element:nth-child(1) { transition-delay: 300ms; }
.main-nav li.animation-element:nth-child(2) { transition-delay: 500ms; }
.main-nav li.animation-element:nth-child(3) { transition-delay: 700ms; }
.solitaire-header .title-section.animation-element { -moz-transform: translate(-20px, 0px); -webkit-transform: translate(-20px, 0px); -o-transform: translate(-20px, 0px); -ms-transform: translate(-20px, 0px); transform: translate(-20px, 0px); transition-delay: 200ms; }
.solitaire-header .group-animation.animation-element { -moz-transform: translate(-20px, 0px); -webkit-transform: translate(-20px, 0px); -o-transform: translate(-20px, 0px); -ms-transform: translate(-20px, 0px); transform: translate(-20px, 0px); transition-delay: 400ms; }
.solitaire-header .title-section.animation-element.in-view { -moz-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); -o-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate(0px, 0px); }
.solitaire-header .group-animation.animation-element.in-view { -moz-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); -o-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate(0px, 0px); }
.privileges-box.animation-element { box-sizing: border-box; position: relative; -moz-transform: translate(0px, 20px); -webkit-transform: translate(0px, 20px); -o-transform: translate(0px, 10px); -ms-transform: translate(0px, 20px); transform: translate(0px, 20px); }
.privileges-box.animation-element.in-view { -moz-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); -o-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate(0px, 0px); }
.privileges-box.animation-element::before, .privileges-box.animation-element::after { content: ''; box-sizing: inherit; position: absolute; border: 2px solid transparent; width: 0; height: 0; }
.privileges-box.animation-element::before { top: 0; left: 0; }
.privileges-box.animation-element::after { bottom: 0; right: 0; }
.privileges-box.animation-element .ribbon-wrapper{opacity: 0; -moz-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; transition-delay: 1.7s;}
.privileges-box.animation-element.in-view { color: #ede2c0; }
.privileges-box.animation-element.in-view::before, .privileges-box.animation-element.in-view::after { z-index: -1; width: 100%; height: 35%; }
.privileges-box.animation-element.in-view::before { border-top-color: #ede2c0; border-right-color: #ede2c0; border-left-color: #ede2c0; transition: width 1.5s ease-out, height 0.5s ease-out 1.5s }
.privileges-box.animation-element.in-view::after { border-bottom-color: #ede2c0; border-left-color: #ede2c0; border-right-color: #ede2c0; transition: border-color 0s ease-out 1s, width 1.5s ease-out 0.75s, height 1s ease-out 2.25s; }
.privileges-box.animation-element.in-view .ribbon-wrapper {opacity: 1;}
.privileges-box .animation-element.in-view.delay { transition-delay: 1500ms; }
.contact-container .animation-element.in-view:nth-child(1) { transition-delay: 300ms; }
.contact-container .animation-element.in-view:nth-child(2) { transition-delay: 500ms; }
.contact-container .animation-element.in-view:nth-child(3) { transition-delay: 700ms; }
.premier-container .animation-element.in-view:nth-child(1) { transition-delay: 300ms; }
.premier-container .animation-element.in-view:nth-child(2) { transition-delay: 500ms; }

/* Animation Keyframes
======================================================================*/
@keyframes moveShiny {
  0%  { left: 0; opacity: 0; }
  5% {opacity: 0.0}
  48% {opacity: 0.2}
  80% {opacity: 0.0}
  100% { left: 100%}
}

@-webkit-keyframes moveShiny {
  0%  { left: 0; opacity: 0; }
  5% {opacity: 0.0}
  48% {opacity: 0.2}
  80% {opacity: 0.0}
  100% { left: 100%}
}

@-moz-keyframes moveShiny {
  0%  { left: 0; opacity: 0; }
  5% {opacity: 0.0}
  48% {opacity: 0.2}
  80% {opacity: 0.0}
  100% { left: 100%}
}

@-ms-keyframes moveShiny {
  0%  { left: 0; opacity: 0; }
  5% {opacity: 0.0}
  48% {opacity: 0.2}
  80% {opacity: 0.0}
  100% { left: 100%}
}

@-o-keyframes moveShiny {
  0%  { left: 0; opacity: 0; }
  5% {opacity: 0.0}
  48% {opacity: 0.2}
  80% {opacity: 0.0}
  100% { left: 100%}
}

/* fadeOut */
@-webkit-keyframes fadeOut {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeOut {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeOut {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* slideRight */
@-webkit-keyframes slideRight {
  0%   { transform: translate(-390px,0px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
@-moz-keyframes slideRight {
  0%   { transform: translate(-390px,0px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
@-o-keyframes slideRight {
  0%   { transform: translate(-390px,0px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
@keyframes slideRight {
  0%   { transform: translate(-390px,0px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}

/* SlideDown */
@-webkit-keyframes SlideDown {
  0%   { transform: translate(0px,-390px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
@-moz-keyframes SlideDown {
  0%   { transform: translate(0px,-390px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
@-o-keyframes SlideDown {
  0%   { transform: translate(0px,-390px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
@keyframes SlideDown {
  0%   { transform: translate(0px,-390px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
/* /SlideDown */

/* SlideDownMobile */
@-webkit-keyframes SlideDownMobile {
  0%   { transform: translate(0px,-100px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
@-moz-keyframes SlideDownMobile {
  0%   { transform: translate(0px,-100px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
@-o-keyframes SlideDownMobile {
  0%   { transform: translate(0px,-100px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
@keyframes SlideDownMobile {
  0%   { transform: translate(0px,-100px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
/* /SlideDownMobile */

/* slideRightMobile */
@-webkit-keyframes slideRightMobile {
  0%   { transform: translate(-100px,0px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
@-moz-keyframes slideRightMobile {
  0%   { transform: translate(-100px,0px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
@-o-keyframes slideRightMobile {
  0%   { transform: translate(-100px,0px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
@keyframes slideRightMobile {
  0%   { transform: translate(-100px,0px); opacity: 0; }
  100% { transform: translate(0px,0px); opacity: 1; }
}
/* /slideRightMobile */

/* arrowRight */
@-webkit-keyframes arrowRight {
  0%   { transform: translateX(0px); }
  25%   { transform: translateX(2.5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(2.5px); }
  100% { transform: translateX(0); }
}
@-moz-keyframes arrowRight {
  0%   { transform: translateX(0px); }
  25%   { transform: translateX(2.5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(2.5px); }
  100% { transform: translateX(0); }
}
@-o-keyframes arrowRight {
  0%   { transform: translateX(0px); }
  25%   { transform: translateX(2.5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(2.5px); }
  100% { transform: translateX(0); }
}
@keyframes arrowRight {
  0%   { transform: translateX(0px); }
  25%   { transform: translateX(2.5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(2.5px); }
  100% { transform: translateX(0); }
}
/* /arrowRight */

/* Media Queries
======================================================================*/
/* Extra Small Devices, Phones */
@media only screen and (min-width: 320px) and (max-width : 767px) {
  h2 { font-size: 1.2em; line-height: 30px !important; }
  .header-logo { width: 30%; }
  .header-wrapper { padding-top: 0; }
  .solitaire-bg { position: relative; }

  /* Solitaire Header */
  .header-wrapper { padding: 15px 0; background-color: #fff; position: relative; }
  .logo-text { font-size: 12px; position: absolute; bottom: -2px; height: 15px; line-height: 16px; }
  .solitaire-wrapper {padding-bottom: 56%;}
  .solitaire-wrapper.animation-element {background-position: 0 51px; }
  .solitaire-wrapper.animation-element.in-view{background-position: 0 81px; background-size: auto calc(100% - 81px);}
  .solitaire-header { margin: 0; bottom: 0; }
  .solitaire-header h1 { font-size: 1.2em; line-height: 20px; }
  .solitaire-header p { line-height: 20px; }
  .solitaire-inner { padding-bottom: 0; }
  .landing-text { padding: 0 0 10px 0; }
  .solitaire-headerMobile { width: 80%; display: block; padding: 15px 20px; background-color: rgba(255, 255, 255, .5); position: relative; animation: slideRightMobile 1s ease-in-out; -webkit-animation: slideRightMobile 1s ease-in-out; -ms-animation: slideRightMobile 1s ease-in-out; -o-animation: slideRightMobile 1s ease-in-out; }
  .solitaire-headerMobile::before { content: ""; width: 10px; animation: SlideDownMobile 1s ease-in-out; -webkit-animation: SlideDownMobile 1s ease-in-out; -ms-animation: SlideDownMobile 1s ease-in-out; -o-animation: SlideDownMobile 1s ease-in-out; height: 100%; background-color: #be9820; display: block; position: absolute; top: 0; left: 0; }
  .title-section { margin: 0; margin-bottom: 10px; }
  .solitaire-header .title-section.animation-element { transition-delay: 800ms; }
  .solitaire-header .landing-text.animation-element { transition-delay: 1000ms; }
  .solitaire-header .landing-btn.animation-element { transition-delay: 1000ms; }

  /* Series */
  .series-title { padding: 20px; }
  .series-items-wrapper .series-items { width: 80%; border-right: 0; padding-bottom: 30px; border-bottom: 1px solid #d6d6d6; margin-bottom: 30px; }
  .series-items-wrapper .series-items:last-child { margin-bottom: 0; padding-bottom: 20px; border-bottom: 0; }
  .series-wrapper { padding-bottom: 0; }
  .series-container { position: relative; }

  /* Privileges */
  .privileges-wrapper { padding-bottom: 90%; }
  .privileges-wrapper .solitaire-bg { position: absolute; }
  .privileges-box { width: 100%; padding:40px 30px; }

  /* Premier */
  .premier-item-wrapper {padding: 35px 0;}
  .premier-plan > .premier-item:nth-child(2):last-child {margin-top: 30px;} 
  .premier-wrapper { padding-bottom: 140%; }
  .premier-wrapper .solitaire-bg { position: absolute; }
  .premier-wrapper .col-centered:first-child { margin-top: 30px; }
  .premier-wrapper .premier-tile p { margin-bottom: 10px; }
  .premier-wrapper .premier-tile .premier-text .title { font-size: 16px; line-height: 20px; }
  .premier-wrapper .premier-tile .premier-text p { font-size: 12px; line-height: 15px; }
  .premier-wrapper .premier-tile .premier-text { width: 50%; padding: 15px 10px; }
  .premier-wrapper .premier-tile .premier-img { width: 50%; }
  .premier-wrapper .premier-tile { margin: 0; }
  .premier-wrapper { line-height: normal; }

  /* Contact */
  .contact-wrapper .row-eq-height { display: block; }
  .contact-wrapper .row-eq-height > div { margin-bottom: 20px; }
  .contact-wrapper .row-eq-height > div:last-child { margin-bottom: 0; }
  .contact-container { padding: 40px 20px 80px 20px; }

  /* Slick */
  /*.slick-initialized .slick-slide {width: 100% !important;}*/
}

@media only screen and (min-width: 320px) and (max-width : 767px) and (orientation: portrait) {
  .premier-tile .premier-img {width:  100%;}
  .premier-tile .premier-text {width:   100%    }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
}

@media only screen and (min-width: 361px) and (max-width: 414px) {
}

@media only screen and (min-width: 480px) and (max-width : 680px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width : 991px) {
  .container { width: 100%; }
  .solitaire-header { position: relative;}
  .solitaire-header h1 { font-size: 2em; line-height: 30px;}
  h2 { font-size: 1.5em; line-height: 30px !important; }
  p { line-height: 20px !important; }
  .main-nav-wrapper { display: none; }

  /* Solitaire Header */
  .header-wrapper { padding-top: 10px; }
  .header-wrapper .row { margin-left: 15px; margin-right: 15px; }
  .solitaire-header { padding-top: 0; margin: 120px 0 0 0; }
  .solitaire-header .row { margin-left: 15px; margin-right: 15px; }
  .solitaire-header .landing-text { font-size: 1em; padding: 15px 0; }

  /* Series Wrapper */
  .series-wrapper { padding-bottom: 40%; }
  .series-wrapper .series-items-wrapper .series-items { width: 32%; }
  .series-wrapper .series-items-wrapper .series-items img { width: 20%; }
  .series-wrapper .series-title { padding-bottom: 20px; }

  /* Privileges Wrapper */
  .privileges-wrapper { padding-bottom: 40%; }
  .privileges-wrapper .privileges-box { padding: 25px; }

  /* Premium Wrapper */
  .premier-wrapper { padding-bottom: 85%; }
  .premier-wrapper .col-centered:first-child { margin-bottom: 20px; }
  .premier-wrapper .carousel-control.right { right: 40px; }
  .premier-plan > .premier-item:nth-child(2):last-child {margin-top: 30px;} 


  /* Contact Wrapper */
  .contact-wrapper h3 { font-size: 1.4em; line-height: 20px; font-weight: 500; min-height: 40px; }
  /* .contact-wrapper .row { display: flex; } */
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .navbar-nav.main-nav li a.dropdown-toggle { padding: 20px 30px; }
}

@media only screen  and (min-width: 1024px) {
  .premier-tile .premier-text { padding: 10px 20px; }
  .premier-tile .premier-text .title { font-size: 1em; }
  .premier-tile .premier-text p { font-size: 0.8em; margin-bottom: 10px; }
}

@media only screen and (min-width : 992px) and (max-width: 1024px) {
  .privileges-box { padding: 25px; }
  .slick-prev, .slick-next {width: 20px; height: 38px;}
  .slick-prev {left: -20px;}
  .slick-next {right: -30px;}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  /* Premier */
  .premier-wrapper { position: relative; padding-bottom: calc(380 / 1280 * 100%); }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  @media only screen and (min-width: 320px) and (max-width : 767px) {
  }

  @media only screen and (min-width: 768px) and (max-width : 991px) {
  }

  @media only screen and (min-width : 992px) {
  }

  @media only screen and (min-width : 993px) {
  }
}
