/*
Client: NTUC Income
Developed by: Convertium Pte Ltd
======================================================================
[-] Custom Font
[-] Page Style Reset
[+] Navigation
	[-] Top Navigation
	[-] Main Navigation
[-] Page Styling
[-] Footer
[-] Bootstrap Override
[-] Media Queries
======================================================================*/
/* Custom Fonts
======================================================================*/
/* Custom Fonts
======================================================================*/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/OpenSans-Regular.svg#dc56f0938c09c27a4156bb0f8f5176a2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  src: url('../fonts/OpenSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/OpenSans-Bold.svg#72800b665ba60a9a58674e2a6befde3a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-Semibold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OpenSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/OpenSans-Semibold.svg#b96880fafbf6b051ff49d9fe8a31137c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Open Sans Extrabold';
  src: url('../fonts/OpenSans-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OpenSans-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/OpenSans-ExtraBold.svg#5c62748eddf7ad78c6f00917cd538fb7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  800;
}

/* Page Style Reset
======================================================================*/
body, h4, p, p.emphasised, h4 {color: #222; font-family: 'Open Sans', sans-serif;}
body {font-size: 16px; -webkit-font-smoothing: antialiased; text-rendering: optimizedlegibility;}
p {font-size: 16px; line-height: 26px; margin-bottom: 20px;}
p:last-child {margin-bottom: 0;}
p.emphasised {color: #222; font-size: 18px; line-height: 26px; margin-bottom: 20px;}
p.fine-print, .fine-print {font-size: 14px; line-height: 20px; font-style: italic;}
p.footnote, .footnote, .footnote p {font-size: 14px; line-height: 18px;}
h1, h2, h3 {color: #222;}
h1 {font-family: 'Open Sans Extrabold', sans-serif; font-size: 40px; font-weight: 800; line-height: 44px;}
h2 {font-family: 'Open Sans', sans-serif; font-size: 34px; font-weight: 600; line-height: 38px; margin-top: 0;}
h3 {font-family: 'Open Sans', sans-serif; font-size: 22px; font-weight: 600; line-height: 26px; margin-top: 0;}
h4 {font-family: 'Open Sans Bold', sans-serif; font-size: 20px; font-weight: 700; line-height: 26px;}
a {border-bottom: 1px dotted #0055cc; color: #0055cc; text-decoration: none;}
a:hover, a:focus {text-decoration: none; outline: none;}
a.undotted {border-bottom: 0 none;}
a i {border-bottom: 0 none; text-decoration: none;}
ul.styled, ul.styled ul {padding: 0; list-style-type: none;}
ul.styled li {background: url(../images/bullet.jpg) left 8px no-repeat; margin-bottom: 5px; padding-left: 15px;}
ul.styled ul {margin: 10px 0;}
ul.styled ul li {background: url(../images/bullet-sub.jpg) left 10px no-repeat; margin-bottom: 5px; padding-left: 15px;}
ul.list-unstyled li {margin-bottom: 10px;}
ol.styled {padding-left: 21px;}
ol.styled li {margin-bottom: 5px;}
ol.styled li p {margin-bottom:  20px;}
ol.styled.bold {font-family: 'Open Sans Bold', sans-serif; font-weight: 700;}
ol.styled.bold p {font-weight: 400;}
ol.styled.bold ul.styled li {font-weight: 400;}
ol.styled.bold .boxed-highlight {font-weight: 400;}
.toggle-content ul.styled, .toggle-content ol.styled {font-size: 14px;}
hr {border-top: 1px solid #ccc;}
hr.seperator {border-top: 1px solid #ccc; margin-top: 50px; margin-bottom: 0px;}
.accordion-title h2 {margin-bottom: 0px;}
.accordion-title p {margin-top: 30px;}

/* Buttons
====================================*/
.btn-primary-large, .btn-primary {background: #f05a38; background-image: none; border: 0 none; border-radius: 0; -webkit-border-radius: 0; border-bottom: 1px solid #923924; color: #fff; font-family: 'Open Sans', sans-serif; text-shadow: none;}
.btn-primary-large:hover, .btn-primary-large:focus, .btn-primary:hover, .btn-primary:focus {background: #ff7151; color: #fff; text-decoration: none; border-bottom: 1px solid #923924;}
.btn-primary-large {font-family: 'Open Sans', sans-serif; font-size: 24px; padding: 10px 30px; font-weight: 600;}
.btn-primary {font-family: 'Open Sans', sans-serif; font-size: 16px; padding: 9px 25px; font-weight: 600;}

.btn-secondary {background: #f4f4f4; background-image: none; border: 1px solid #f05a38; border-radius: 0; -webkit-border-radius: 0; box-shadow: 0; color: #f05a38; font-family: 'Open Sans', sans-serif; text-shadow: none; padding: 9px 25px 8px; font-size: 16px; font-weight: 600;}
.btn-secondary-large {background: #f4f4f4; background-image: none; border: 1px solid #f05a38; border-radius: 0; -webkit-border-radius: 0; box-shadow: none; color: #f05a38; font-family: 'Open Sans', sans-serif; text-shadow: none; padding: 9px 30px 10px; font-size: 24px; font-weight: 600;}
.btn-secondary-large:hover, .btn-secondary-large:focus, .btn-secondary:hover, .btn-secondary:focus {background: #ff7151; border: 1px solid #f05a38; color: #fff;}

/* Link Styles
====================================*/
.link-external, .link-pdf, .arrow-link, .expandcollapse, .back-link, .toggle-link-down, .toggle-link-up, .page-print {border-bottom: 0 none; text-decoration: none;}
.link-external span, .link-pdf span , .arrow-link span, .expandcollapse span, .back-link span, .toggle-link-down span, .toggle-link-up span, .page-print span {border-bottom: 1px dotted #0055cc; color: #0055cc; text-decoration: none;}
.arrow-link span.glyphicon, .back-link i, .toggle-link-down i, .toggle-link-up i, .page-print i {border-bottom: 0 none;} 
.link-pdf i {color: #ed1c24;}
.page-print {display: block; font-size: 13px; padding: 8px 0; float: right;}
.expandcollapse {display: block; position: absolute; bottom: 0px; right: 20px; z-index: 50;}
.expandcollapse span {margin-right: 10px;}
.expandcollapse i {font-size: 12px;}
a.link-homepage, a.link-homepage:hover {color: #fff; border-bottom: 1px dotted #fff;}
.link-homepage.link-external span {border-bottom: 1px dotted #fff; color: #fff;}
.link-homepage.link-external i, .app-details .link-external i, .promo-options li .link-external i, .treats .link-external i {display: none;}
.app-details a, .app-details .link-external span, .promo-options li .link-external span, .treats .link-external span {border-bottom: 0 none; text-decoration: none;}
.treats .link-external {border: 1px solid #f05a38!important;}
.treats .btn-secondary-large.link-external span, .treats .btn-secondary.link-external span {color: #f05a38;}
.treats .btn-primary-large.link-external span, .treats .btn-primary.link-external span {color: #fff;}

/* Navigation
======================================================================*/
/* Top Navigation
====================================*/
.top-nav-btn {font-family: 'Open Sans', sans-serif; font-weight: 400; text-transform: uppercase;}

/* Main Navigation
====================================*/
.mega-menu-content h4 {margin-top: 30px;}
.mega-menu-content h4 a {border-bottom: 0 none; color: #222; text-decoration: none; transition: color 0.5s ease-out, border-color 0.5s ease-out;}
.mega-menu-content h4 a:hover {border-bottom: 1px dotted #0055cc; color: #0055cc; text-decoration: none; transition: color 0.5s ease-in, border-color 0.5s ease-in;}
.mega-menu-content ul {margin: 0; padding: 0; list-style-type: none;}
.mega-menu-content li {margin-bottom: 5px;}
.mega-menu-content li a {border-bottom: 0 none; color: #222; transition: color 0.5s ease-out, border-color 0.5s ease-out;}
.mega-menu-content li a:hover {border-bottom: 1px dotted #0055cc; color: #0055cc; text-decoration: none; transition: color 0.5s ease-in, border-color 0.5s ease-in;}

/* Secondary Navigation
======================================================================*/
/* Secondary Logo
====================================*/
.secondary-page-title {color: #544f4f; font-family: 'Open Sans', sans-serif; font-size: 24px; display: block; float: left; padding: 10px 0; line-height: 24px;}

/* Secondary Navi
====================================*/
ul.secondary-nav {display: inline-block; margin: 0; padding: 0; list-style-type: none;}
.secondary-nav li {display: inline; float: left;}
.secondary-nav li a {border-bottom: 0 none; border-right: 1px solid #73767a; color: #fff; font-family: 'Open Sans', sans-serif; font-size: 20px; padding: 0px 30px; text-shadow: none;}
.secondary-nav li.active a {color: #ffa734;}
.secondary-nav li:last-child a {border-right: 0 none;}
.secondary-nav li a:hover, .secondary-nav li a:focus {background-color:  transparent;}

/* Page Styling
======================================================================*/
.homepage-intro-wrapper h1 {font-weight: 700; font-size: 34px; line-height: 38px;}
.page-title h1 {font-family: 'Open Sans', sans-serif; font-size: 40px; display: block;}
.intro {color: #222; font-family: 'Open Sans', sans-serif; font-size: 28px; line-height: 38px; margin-bottom: 20px;}
.contact-num {color: #ff7600; font-family: 'Open Sans', sans-serif; font-size: 28px; font-weight:  600;}
.homepage-intro-wrapper h1 {color: #fff;}
.box-contact p {color: #666; font-size: 14px; margin-bottom: 0px;}
p.contact-label {font-family: 'Open Sans', sans-serif; font-weight: 600;}
.insurance-details p {display: block; /*margin-bottom: 20px;*/ padding: 15px 0;}
.panel-widget .panel-head {font-size: 20px;}
.panel-widget .panel-head span {font-family: 'Open Sans Bold', sans-serif; color: #f5821f; display: block; font-size: 24px; font-weight: 700; line-height: 24px; text-transform: uppercase;}
.panel-widget .panel-body {margin: 15px 0;}
.panel-widget .panel-body p {font-size: 14px; line-height: 20px;}
.panel-widget .panel-body p.contact-num, .panel-widget .panel-body span.contact-num {font-size: 26px; line-height: inherit;}
.panel-widget .panel-body span.contact-num {display: block; margin-top: 10px;}
.panel-widget .panel-body .list-group-item h3 {margin-bottom: 10px;}
.panel-widget.orange .panel-head h3 {color: #fff;}
.panel-widget.orange.homepage .panel-head h3 {font-size: 20px; float: left;}
.panel-widget.orange.homepage .panel-head a,
.panel-widget.orange.homepage .panel-head a:hover,
.panel-widget.orange.homepage .panel-head a:focus {border-bottom: 1px dotted #fff; color: #fff; font-size: 16px;}
.thumbnail.promo-thumbnail.homepage .caption {font-family: 'Open Sans', sans-serif; font-size: 20px; padding: 10px 0; width: 100%;}
.thumbnail.promo-thumbnail.homepage:hover .caption  {color: #0055cc;}
.panel.panel-block h3 {margin-bottom: 20px;}
.block-check {color: #f5821f; font-size: 30px; display: block; float: left; margin-right: 10px;}
.promo-box a {border-bottom: 0 none; display: block;}
.promo-box a h4 {border-bottom: 0 none; color: #222; display: block; font-weight: 400; margin: 10px auto 0; text-align: center; text-decoration: none;}
.toggle-content p {font-size: 14px; line-height: 20px;}
.required {color: #fc0000;}
.sitemap-page h3 {margin-bottom: 10px;}
.sitemap-page h3 a {color: #222; border-bottom: 1px dotted #222; font-weight: 400;}
.sitemap-page ul.styled {margin-bottom: 20px;}
.career-thumbnail .caption h4 {margin-bottom: 0px;}
.career-quote-content blockquote {background: url(../images/img_blockquote_small.png)left 6px no-repeat; padding-left: 30px; padding-top: 5px;}
.career-quote-content blockquote span {background: url(../images/img_blockquote_small_end.png) bottom right no-repeat; padding-right: 30px;}
.quote-source {font-style: normal;}
.life-stages h4 {text-align: center;}
.financial p.contact-num {font-family: 'Open Sans Extrabold', sans-serif; margin-bottom: 0px; text-transform: uppercase; font-size: 24px; font-weight: 800;}
.orphan-title-detail {font-size: 28px;}
.doc-form h3 {margin-bottom: 20px;}
.footnote ol, .footnote ul {margin-bottom: 20px;}
.form-alert {display: block; font-size: 15px; padding-top: 10px; margin-left: 31%; width: 65%;}
.picker-wrapper .form-alert {margin-left: 0; padding-top: 0; padding-bottom: 10px; width: 100%;}
.form-alert.date-picker {margin-left: 0;}
.optional {color: #666; font-size: 13px;}
.no-error {display: none!important;}
.treat-tag span {font-size: 14px; line-height: 14px;}

/* Social Media Buttons
====================================*/
.social-facebook, .social-facebook:hover, .social-facebook:focus {background-color: #5c81d0; background-image: none; border: 0 none; border-radius: 0px; -webkit-border-radius: 0px; color: #fff; font-size: 20px; text-shadow: 0px 1px 0px rgba(71, 108, 187, 1); width: 44px;}
.social-twitter, .social-twitter:hover, .social-twitter:focus {background-color: #40bff5; background-image: none; border: 0 none; border-radius: 0px; -webkit-border-radius: 0px; color: #fff; font-size: 20px; text-shadow: 0px 1px 0px rgba(34, 161, 215, 1); width: 44px;}
.social-gplus, .social-gplus:hover, .social-gplus:focus {background-color: #eb5e4c; background-image: none; border: 0 none; border-radius: 0px; -webkit-border-radius: 0px; color: #fff; font-size: 20px; text-shadow: 0px 1px 0px rgba(208, 67, 49, 1); width: 44px;}
.social-youtube {background-color: #cc182e; background-image: none; border: 0 none; border-radius: 0px; -webkit-border-radius: 0px; color: #fff; text-shadow: 0px 1px 0px rgba(208, 67, 49, 1); /*width: 44px;*/}
.social-email, .social-email:hover, .social-email:focus {background-color: #faa33d; background-image: none; border: 0 none; border-radius: 0px; -webkit-border-radius: 0px; color: #fff; font-size: 20px; text-shadow: 0px 1px 0px rgba(222, 135, 33, 1); width: 44px;}

/* Footer
======================================================================*/
.footer {color: #fff; font-size: 14px;}
.sitemap p {margin-bottom: 10px;}
.sitemap p a, .sitemap li a {border-bottom: 0 none; color: #fff; text-decoration: none; transition: color 0.5s ease-out, border-color 0.5s ease-out;}
.sitemap p a {font-family: 'Open Sans Bold', sans-serif; font-weight: 700;}
.sitemap p a:hover, .sitemap p a:focus, .sitemap li a:hover, .sitemap li a:focus {border-bottom: 1px dotted #75afff; color: #75afff; text-decoration: none; transition: color 0.5s ease-in, border-color 0.5s ease-in;}
.sitemap ul, .copyright ul {list-style-type: none; margin: 0; padding: 0;}
.sitemap li {margin-bottom: 5px;}
.sitemap li a {font-size: 14px;}
.sitemap p.subscription-label {color: #aaa; margin-top: 0px; text-transform: uppercase;}
.copyright, .copyright p {color: #aaa; font-size: 13px;}
.copyright ul {display: block;}
.copyright li {border-right: 1px solid #ccc; display: inline; float: left; margin-right: 5px; padding-right: 5px;}
.copyright li:last-child {border-right: 0 none;}
.copyright li a {border-bottom: 1px dotted #75afff; color: #75afff; display: block; text-decoration: none;}
.copyright p {clear: both; display: block; margin-bottom: 0; padding-top: 6px;}
.social-instagram i {font-size: 19px; line-height: 24px;}
.social-fb i {font-size: 19px; line-height: 24px;}
.social-linkedin i {font-size: 18px; line-height: 24px;}
.social-googleplus i {font-size: 17px; line-height: 24px;}
.social-youtube i {font-size: 17px; line-height: 17px;}
blockquote {background: url(../images/img_blockquote.png)left 6px no-repeat; border-left: 0 none; font-style: italic; padding-left: 40px; margin: 0;}
blockquote span {background: url(../images/img_blockquote_end.png) bottom right no-repeat; display: block; padding-right: 40px; margin-bottom: 20px;}
blockquote span p {font-size: 18px; font-style: italic;}
blockquote p {font-size: 16px; font-style: normal;}
.insurance-details blockquote p {padding: 0;}

/* Bootstrap Overrides
======================================================================*/
.navbar-nav.main-nav > li > a {background: rgba(255, 255, 255, .8); background: #fff\9; border-bottom: 0 none; color: #222; font-family: 'Open Sans', sans-serif; font-size: 18px; text-shadow: none;}
.navbar-nav.main-nav > li.open > a, .navbar-nav.main-nav > li.open:hover > a {background: #fff; z-index: 300; border-top: 4px solid #ffa734; margin-top: -4px;}
.navbar-nav.main-nav > li:hover, .navbar-nav.main-nav > li.open, , .navbar-nav.main-nav > li.active,  .navbar-nav.main-nav > li.active:hover {border-top: 4px solid #ffa734; color: #666; margin-top: -4px;}
.navbar-nav.main-nav > li:hover > a {background: url(../images/subtle_dots.png) 0 0 repeat; color: #666;}
.navbar-nav.main-nav > li.active > a,  .navbar-nav.main-nav > li.active:hover > a {background: url(../images/subtle_dots.png) 0 0 repeat; color: #666; border-top: 4px solid #ffa734; margin-top: -4px;}
.navbar-nav.main-nav > li.active.open > a {background: #fff;}
.breadcrumb i {font-size: 18px;}
.breadcrumb li a, .breadcrumb li a:hover {font-size: 13px; border-bottom: 0 none; text-decoration: none;}
.breadcrumb li:last-child a {color: #383838;}
.breadcrumb > li + li:before {content:"\f105"; font-family: 'FontAwesome'; color: #999;}
.default-accordion .panel.panel-default .panel-title a {color: #222; font-family: 'Open Sans', sans-serif; font-size: 20px;}
.faq-accordion .panel.panel-default .panel-title a {border-bottom: 0 none; color: #0055cc; background: #fff; background-color: transparent!important;}
.faq-accordion .panel.panel-default > .panel-heading {background: transparent; background-color: transparent!important;}
.panel-left {font-family: 'Open Sans', sans-serif; font-size: 18px; font-weight:  600;}
.panel-left span.glyphicon-ok {color: #f5821f;}
table i.fa-check {color: #f5821f; font-size: 30px;}
table i.fa-times {color: #787878; font-size: 30px;}
.homepage-intro-wrapper .glyphicon {font-size: 10px;}
.homepage-intro-wrapper .btn-primary {padding: 9px 25px 9px 10px}
.glyphicon.play-button {background: #923924; padding: 8px; border-radius: 30px; -webkit-border-radius: 30px;}

/* Media Queries
======================================================================*/
@media only screen and (min-width: 320px) and (max-width : 767px) {

/* Mobile Page Style Reset */
body, p {font-size: 14px; line-height: 24px;}
p.emphasised {font-size: 16px; line-height: 22px;}
h1 {font-size: 24px; line-height: 34px;}
h2 {font-size: 20px; line-height: 30px;}
h3 {font-size: 18px; line-height: 24px;}
h4 {font-size: 16px; line-height: 22px;}
.btn-primary-large {font-size: 24px;}   
.btn-primary {font-size: 16px;}    
.btn-secondary {font-size: 16px;}
.intro {font-size: 20px; line-height: 24px;}
.contact-num {font-size: 20px;}
blockquote p {font-size: 14px;}
.default-accordion .panel.panel-default .panel-title a {font-size: 16px; display: table; position: relative;}
.homepage-intro-wrapper h1 {font-size: 20px; line-height: 24px; margin-bottom: 0;}
.career-thumbnail .caption p {margin-bottom: 10px;}
    
/* Page Styling
======================================================================*/
.page-title h1 {font-family: 'Open Sans', sans-serif; font-size: 24px; display: block; margin-bottom: 10px;}
    
/* Table Comparison */
table i.fa-check, table i.fa-times {font-size: inherit;}
    
/* Footer Sitemap */
.sitemap:first-child p {margin-top: 0;}
.sitemap p {margin-top: 20px;}
.sitemap p a {font-family: 'Open Sans Bold', sans-serif; font-size: 18px; font-weight: 700;}
    
.panel-left {font-size: 16px;}
    
.form-alert {margin-left: 0%; width: 100%;}
    
}

@media only screen and (min-width: 768px) and (max-width : 991px) {

/* Mobile Page Style Reset */
body, p {font-size: 14px; line-height: 24px;}
p.emphasised {font-size: 16px; line-height: 22px;}
h1 {font-size: 36px; line-height: 42px;}
h2 {font-size: 28px; line-height: 32px;}
h3 {font-size: 20px; line-height: 28px;}
h4 {font-size: 18px; line-height: 26px;}
.btn-primary {font-size: 16px;}    
.btn-secondary {font-size: 16px;}
.intro {font-size: 22px; line-height: 32px;}
.contact-num {font-size: 24px;}
blockquote p {font-size: 16px;}
.default-accordion .panel.panel-default .panel-title a {font-size: 18px;}
.homepage-intro-wrapper h1 {font-size: 30px; line-height: 38px;}

/* Page Styling
======================================================================*/
.page-title h1 {font-family: 'Open Sans', sans-serif; font-size: 36px; display: block; margin: 0;}

/* Table Comparison */
table i.fa-check, table i.fa-times {font-size: inherit;}
    
/* Footer Sitemap */
.sitemap p a {font-family: 'Open Sans Bold', sans-serif; font-size: 18px; font-weight: 700;}
    
}
